# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     dictionary-mysql
    database_port:     ~
    database_name:     dictionary
    database_user:     dictionary_user
    database_password: passwd
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            zgegzeoiHGoehgznegmoIHGmpeo

    rabbitmq_host: rabbit_mq
    rabbitmq_port: 5672
    rabbitmq_user: user
    rabbitmq_password: pass

    jwt_private_key_path: '%kernel.project_dir%/var/jwt/private.pem'
    jwt_public_key_path:  '%kernel.project_dir%/var/jwt/public.pem'
    jwt_key_pass_phrase:  'jwtmypassphrase'
    jwt_token_ttl:        3600

    pass_user: ~
    pass_admin: ~
